---
http_interactions:
- request:
    method: post
    uri: https://gateway.watsonplatform.net/tone-analyzer/api/v3/tone?version=2017-09-21
    body:
      encoding: UTF-8
      string: '{"text":"dogs are awesome"}'
    headers:
      Authorization:
      - "<WATSON_DEV_BEARER_KEY>"
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      x-backside-transport:
      - OK OK
      content-type:
      - application/json
      x-service-api-version:
      - 3.5.8; 2017-09-21
      x-service-build-number:
      - '2019-01-28T06:02:27'
      content-language:
      - en-US
      x-global-transaction-id:
      - 7ecac92c5c69f0f050bc2081
      x-dp-watson-tran-id:
      - gateway01-1354506369
      x-dp-transit-id:
      - gateway01-1354506369
    body:
      encoding: UTF-8
      string: '{"document_tone":{"tones":[{"score":0.928277,"tone_id":"joy","tone_name":"Joy"}]}}'
  recorded_at: Sun, 17 Feb 2019 23:40:32 GMT
recorded_with: VCR 4.0.0
